{% extends 'layout.html' %}
{% block content %}
<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <canvas id="circle_chart"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <canvas id="Bar_chart"></canvas>
            </div>
        </div>
    </div>
</div>

{% block javascript %}
<script>
   let presenceList_data = JSON.parse({{ presenceList | tojson }})
    Chart.scaleService.updateScaleDefaults('linear', {
            ticks: {
                min: 0
            }
    });

    let income_vs_expense_chart = new Chart(circle_chart, {
            type: 'pie',
            data: {
            labels: ['Absent ','Present '],
                datasets: [{
                    label: "Taux de Presence et Absence",
                    data: presenceList_data,
                    backgroundColor: ['#5DA5DA ', '#FAA43A', '#60BD68',
                        '#B276B2', '#E16851', '#FB8267'],

                    borderWidth: 1,
                    hoverBorderColor: "black",
                    hoverBorderWidth: 2,
                    hoverBackgroundColor: 'rgba(154, 245, 140)',
                    pointHoverRadius: 5
                }],
            },
            options: {
                    title: {
                        display: true,
                        text: "Taux de Presence et Absence",
                        fontSize: 20,
                    },
                    legend: {
                        position: "right",
                            labels: {
                            fontColor: "gray"
                        },
                        display: true,
                    },

                    elements: {
                        hitRadius: 3,
                    }
            }
    })
        over_test = JSON.parse({{soldes | tojson}})
        labels = JSON.parse({{ facultes  | tojson}})
    let income_vs_category_chart = new Chart(Bar_chart, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: "Montant payé en '$' ",
                    data: over_test,
                    backgroundColor: ['#5DA5DA ', '#FAA43A', '#60BD68',
                        '#B276B2', '#E16851', '#FB8267'],
                    borderWidth: 1,
                    hoverBorderColor: "black",
                    hoverBorderWidth: 2,
                    hoverBackgroundColor: 'rgba(154, 245, 140)',
                    pointHoverRadius: 5
                }],
            },
            options: {
                    title: {
                        display: true,
                            text: "Taux de payement par faculté",
                                fontSize: 20,
                    },
                    legend: {
                        position: "right",
                            labels: {
                            fontColor: "gray",
                            },
                        display: true,
                    },

                    elements: {
                        hitRadius: 3,
                    }
            }
    })
</script>
{% endblock%}

{% endblock %}