{% extends 'layout/_base.html' %}

	{% block body %}

		<div class="principalNav">
			<div class="principalLeft">
				<label class="titreHome">Home</label>
				<a href="http://127.0.0.1:5000/registered" class="principalBtn bg">Add student</a>
                <a href="http://127.0.0.1:5000/recognition" class="principalBtn">Recognition</a>
				<a href="http://127.0.0.1:5000/attendance" class="principalBtn">Attendance</a>
			</div>

			<div class="principalRight">
				
			</div>
		</div>

	{% endblock %}