{% extends 'layout/_base.html' %}

	{% block body %}

		<div class="principalNav2">
			<label class="titlePage">Recognition</label>
			<div class="noticeRecogn">
				<label>please fill-in these filds before you start recognition</label>
			</div>
<!--			<form action="" class="recognFirst">-->
				<div class="recogOneInfo">
					<input type="text" name="supervisor" placeholder="Examination of the day" class="form-control" required>
					<input type="text" name="supervisor" placeholder="examination room" class="form-control" required>
					<input type="text" name="supervisor" placeholder="Supervisor's full name" class="form-control" required>
					<input type="date" name="dateActivity" placeholder="Today's date" class="form-control" required>
				</div>
				<a href="http://127.0.0.1:5000/streaming" class="startBtn" >Start recognition</a>
<!--			</form>-->
		</div>

	{% endblock %}