{% extends 'layout/_base.html' %}

	{% block body %}

		<div class="principalNav2">
			<label class="titlePage">Recognition</label>
			<div class="noticeRecogn">
				<label>please fill-in these filds before you start recognition</label>
			</div>
			<form action="/recognitionInfo" class="recognFirst" method="POST" enctype="multipart/form-data">
				<div class="recogOneInfo">
					<input type="text" name="course" placeholder="Examination of the day" class="form-control" required>
					<input type="text" name="room" placeholder="examination room" class="form-control" required>
					<input type="text" name="supervisor" placeholder="Supervisor's full name" class="form-control" required>
					<input type="date" name="dateActivity" placeholder="Today's date" class="form-control" required>
				</div>
				<button name="submit" type="submit" value="Save" class="startBtn" >Start recognition</button>
			</form>
		</div>

	{% endblock %}