{% extends 'layout/_base.html' %}

  {% block body %}

<form class="text-center" action="/registerInfo" method="POST" enctype="multipart/form-data">
					<div class="form-group">
						<input type="text" name="id" placeholder="ID" class="form-control input" required>
					</div>
					<div class="form-wrapper form-group">
						<input type="text" name="noms" placeholder="Noms complets" class="form-control" required>
						<i class="zmdi zmdi-account"></i>
					</div>
					<div class="form-group">
						<select name="genre" id="" class="form-control" >
							<option value="" disabled selected>Genre</option>
							<option value="male">Masculin</option>
							<option value="female">Feminin</option>
							<option value="other">Autre</option>
						</select>
					</div>
					<div class="form-wrapper form-group">
						<img src="" id="file" class="centerCard studentCam" height="150px">-->
			  	        <input type="file" name="file" onchange="displayImage.call(this)">
					</div>
					<button class="btn btn-success" name="submit" type="submit" value="SaveInfo">Sauvegarder
					</button>
				</form>

{% endblock %}