<!DOCTYPE html>
<html lang="en">

	<head>
		<title>student_Authent</title>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="memoire" content="Ceci est mon projet de memoire sur la reconnaissance faciale">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{{url_for('static',filename='css/indexStyle.css')}}">
		<link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">

		<script src="../static/css/bootstrap/bootstrap-jquery.min.js"></script>
		<script src="../static/css/bootstrap/bootstrap.min.js"></script>
		<script src="../static/js/all.min.js"></script>
		<script src="../static/js/graphicChart.js"></script>
		<script src="../static/js/buttonActive-jquery-3.3.1.js"></script>

		<script type="text/javascript">
			function displayImage(){
				if(this.files && this.files[0]){
					var obj = new FileReader();
					obj.onload = function(data){
						var image = document.getElementById('file');
						image.src = data.target.result;
						image.style.display = "block";
					}
					obj.readAsDataURL(this.files[0]);
				}
			}

			function displayImageEdit(){
				if(this.files && this.files[0]){
					var obj = new FileReader();
					obj.onload = function(data){
						var image = document.getElementById('fileEdit');
						image.src = data.target.result;
						image.style.display = "block";
					}
					obj.readAsDataURL(this.files[0]);
				}
			}
		</script>
	</head>

	<!-- End of head part
		================== -->
		
	<body>

		{% include 'layout/_navBtn.html' %}

		{% block body %}

        {% endblock %}

    </body>
</html>