
	{% block body %}

<div class="leftNav">
	<div>
		<div class="logo"></div>
		<a href="http://127.0.0.1:5000/index" class="navBtn">
			<i class="fa fa-home"></i>  Home
		</a>
		<a href="http://127.0.0.1:5000/registered" class="navBtn">
			<i class="fa fa-users" aria-hidden="true"></i>  Student infos
		</a>
		<a href="http://127.0.0.1:5000/recognition" class="navBtn">
			<i class="fa fa-video" aria-hidden="true"></i>  Authentication
		</a>
		<a href="http://127.0.0.1:5000/attendance" class="navBtn">
			<i class="far fa-calendar-check" aria-hidden="true"></i>  Attendance
		</a>
		<a href="http://127.0.0.1:5000/presenceList" class="navBtn">
			<i class="fas fa-clipboard-list" aria-hidden="true"></i>  Attendance list
		</a>
		<a href="http://127.0.0.1:5000/supervisorList" class="navBtn">
			<i class="fas fa-id-card" aria-hidden="true"></i>  Supervisor Info
		</a>
		<a href="http://127.0.0.1:5000/dashboard" class="navBtn">
			<i class="far fa-chart-bar" aria-hidden="true"></i>  Analytics
		</a>
	</div>
	<div>
		<a href="http://127.0.0.1:5000/authentication" class="navBtn">
			<i class="fa fa-power-off" aria-hidden="true"></i>  Log-out
		</a>
	</div>
</div>

	{% endblock %}